body {
    background: url('cielo-estrellado.jpg') no-repeat center center fixed;
    
    background-size: cover;
}
.custom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 400px;
}

.solar-imagen {
    width: 280px; /* Elige el ancho deseado, como 100% para que se ajusten al contenedor */
    height: 280px; /* Esto permite que la altura se ajuste automáticamente según el ancho */
}

/* Estilo para el fondo estrellado */
.stars {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}
/* Estilos para las tarjetas */

.custom-card {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo de las tarjetas con transparencia */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Sombra leve */
    transition: transform 0.2s; /* Efecto de transformación al hacer hover */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 400px;
}

/* Estilos para el pie de página */
.footer {
    background-color: #e7e5e5; /* Color de fondo */
    color: #1e0808; /* Color del texto */
    padding: 20px 0; /* Espaciado interno */
    position: absolute;
    width: 100%;
	top: 93%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.footer p {
    
    bottom: auto;
}


